<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * @project: Base
 * @author : LitExtension
 * @url    : http://litextension.com
 * @email  : litextension@gmail.com
 */
-->
<config>
    <modules>
        <LitExtension_Base>
            <version>1.0.0</version>
        </LitExtension_Base>
    </modules>

    <global>
        <blocks>
            <lebase>
                <class>LitExtension_Base_Block</class>
            </lebase>
        </blocks>
        <helpers>
            <lebase>
                <class>LitExtension_Base_Helper</class>
            </lebase>
        </helpers>
        <models>
            <lebase>
                <class>LitExtension_Base_Model</class>
            </lebase>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <LitExtension_Base>
                    <files>
                        <default>LitExtension_Base.csv</default>
                    </files>
                </LitExtension_Base>
            </modules>
        </translate>
    </adminhtml>

</config>