<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Web4pro_Abandonedcart>
            <version>1.0.0</version>
        </Web4pro_Abandonedcart>
    </modules>
    <global>
        <template>
            <email>
                <web4pro_abandonedcart_general_template1 translate="label" module="web4pro_abandonedcart">
                    <label>First Abandoned Cart Mail</label>
                    <file>web4pro/abandonedcart/cart_mail_1.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_general_template1>
                <web4pro_abandonedcart_general_template2 translate="label" module="web4pro_abandonedcart">
                    <label>Second Abandoned Cart Mail</label>
                    <file>web4pro/abandonedcart/cart_mail_2.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_general_template2>
                <web4pro_abandonedcart_general_template3 translate="label" module="web4pro_abandonedcart">
                    <label>Third Abandoned Cart Mail</label>
                    <file>web4pro/abandonedcart/cart_mail_3.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_general_template3>
                <web4pro_abandonedcart_general_template4 translate="label" module="web4pro_abandonedcart">
                    <label>Fourth Abandoned Cart Mail</label>
                    <file>web4pro/abandonedcart/cart_mail_generic.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_general_template4>
                <web4pro_abandonedcart_general_template5 translate="label" module="web4pro_abandonedcart">
                    <label>Fifth Abandoned Cart Mail</label>
                    <file>web4pro/abandonedcart/cart_mail_generic.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_general_template5>
                <web4pro_abandonedcart_emailcatcher_popup_coupon_template>
                    <label>Pop up Coupon Email</label>
                    <file>web4pro/abandonedcart/popup_coupon_template.html</file>
                    <type>html</type>
                </web4pro_abandonedcart_emailcatcher_popup_coupon_template>
            </email>
        </template>
        <blocks>
            <web4pro_abandonedcart>
                <class>Web4pro_Abandonedcart_Block</class>
            </web4pro_abandonedcart>
        </blocks>
        <helpers>
            <web4pro_abandonedcart>
                <class>Web4pro_Abandonedcart_Helper</class>
            </web4pro_abandonedcart>
        </helpers>
        <resources>
            <web4proabandonedcart_setup>
                <setup>
                    <module>Web4pro_Abandonedcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </web4proabandonedcart_setup>
        </resources>
        <models>
            <web4pro_abandonedcart>
                <class>Web4pro_Abandonedcart_Model</class>
                <resourceModel>web4pro_abandonedcart_resource</resourceModel>
            </web4pro_abandonedcart>
            <web4pro_abandonedcart_resource>
                <class>Web4pro_Abandonedcart_Model_Resource</class>
                <deprecatedNode>web4pro_abandonedcart_mysql4</deprecatedNode>
                <entities>
                    <mailssent>
                        <table>web4pro_mails_sent</table>
                    </mailssent>
                    <popup>
                        <table>web4pro_abandonedcart_popup</table>
                    </popup>
                </entities>
            </web4pro_abandonedcart_resource>
        </models>
        <fieldsets>
            <sales_convert_quote>
                <web4pro_abandonedcart_flag>
                    <to_order>*</to_order>
                </web4pro_abandonedcart_flag>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <sales_quote_save_after>
                <observers>
                    <web4pro_abandoned_quote_init>
                        <class>web4pro_abandonedcart/eventObserver</class>
                        <method>loadCustomer</method>
                    </web4pro_abandoned_quote_init>
                </observers>
            </sales_quote_save_after>
            <sales_order_place_after>
                <observers>
                    <web4pro_abandoned_quote_convert>
                        <class>web4pro_abandonedcart/eventObserver</class>
                        <method>saveAbandonedCartFlagToOrder</method>
                    </web4pro_abandoned_quote_convert>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <web4pro_abandonedcart before="Mage_Adminhtml">Web4pro_Abandonedcart_Adminhtml</web4pro_abandonedcart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Web4pro_AbandonedCart>
                    <files>
                        <default>Web4pro_Abandonedcart.csv</default>
                    </files>
                </Web4pro_AbandonedCart>
            </modules>
        </translate>
        <routers>
            <web4pro_abandonedcart>
                <use>standard</use>
                <args>
                    <module>Web4pro_Abandonedcart</module>
                    <frontName>web4pro_abandonedcart</frontName>
                </args>
            </web4pro_abandonedcart>
        </routers>
        <layout>
            <updates>
                <web4pro_abandonedcart>
                    <file>web4pro/abandonedcart.xml</file>
                </web4pro_abandonedcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Web4pro_AbandonedCart>
                    <files>
                        <default>Web4pro_Abandonedcart.csv</default>
                    </files>
                </Web4pro_AbandonedCart>
            </modules>
        </translate>
        <layout>
            <updates>
                <abandonedcart>
                    <file>abandonedcart.xml</file>
                </abandonedcart>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_web4pro_abandonedcart>
                <observers>
                    <web4pro_abandoned_save_config>
                        <class>web4pro_abandonedcart/eventObserver</class>
                        <method>saveConfig</method>
                    </web4pro_abandoned_save_config>
                </observers>
            </admin_system_config_changed_section_web4pro_abandonedcart>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <web4pro_abandonedcart>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_abandonedcart/cron::abandoned</model>
                </run>
            </web4pro_abandonedcart>
            <web4pro_abandonedcart_clean_expiredcoupons>
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run><model>web4pro_abandonedcart/cron::cleanAbandonedCartExpiredCoupons</model></run>
            </web4pro_abandonedcart_clean_expiredcoupons>
        </jobs>
    </crontab>
    <default>
        <web4pro_abandonedcart>
            <general>
                <firstdate>2016-01-01</firstdate>
                <days1>1</days1>
            </general>
        </web4pro_abandonedcart>
    </default>
</config>