<config>
    <modules>
        <DragonFroot_Recentlypurchase>
            <version>1.2.0</version>
        </DragonFroot_Recentlypurchase>
    </modules>
    <global>
        <models>
            <recentlypurchase>
                <class>DragonFroot_Recentlypurchase_Model</class>
            </recentlypurchase>
        </models>
        <helpers>
            <recentlypurchase>
                <class>DragonFroot_Recentlypurchase_Helper</class>
            </recentlypurchase>
        </helpers>
        <blocks>
            <recentlypurchase>
                <class>DragonFroot_Recentlypurchase_Block</class>
            </recentlypurchase>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <recentlypurchase>
                    <file>recentlypurchase.xml</file>
                </recentlypurchase>
            </updates>
        </layout>
        <translate>
            <modules>
                <DragonFroot_Recentlypurchase>
                    <files>
                        <default>DragonFroot_Recentlypurchase.csv</default>
                    </files>
                </DragonFroot_Recentlypurchase>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <recentlypurchase>
                                            <title>DragonFroot - Popup Recently Purchase</title>
                                        </recentlypurchase>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <DragonFroot_Recentlypurchase>
                    <files>
                        <default>DragonFroot_Recentlypurchase.csv</default>
                    </files>
                </DragonFroot_Recentlypurchase>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <recentlypurchase>
            <params>
                <enabled>1</enabled>
                <jquery>1</jquery>
                <time_refresh>5</time_refresh>
                <time_delay>2</time_delay>
                <custom_text>custom text [product_name]</custom_text>
                <position_display>1</position_display>
                <info_display>1,2,3,4</info_display>
                <limit_order>10</limit_order>
            </params>
        </recentlypurchase>
    </default>
</config>