<?xml version="1.0"?> 
<config>
    <modules>
        <MD_Layout>
            <version>0.0.1</version>
        </MD_Layout>
    </modules>
    <global>
        <page>
            <layouts> 
                <new_cms_layout module="page" translate="label">
                    <label>MD Theme</label>
                    <template>page/md-1col.phtml</template>
                    <layout_handle>lookbook</layout_handle>
                </new_cms_layout> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <landingpage module="page" translate="label">
                    <label>MD Landingpage</label>
                    <template>page/md-landingpage.phtml</template>
                    <layout_handle>landingpage</layout_handle>
                </landingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossveronelandingpage module="page" translate="label">
                    <label>MD Hairloss Version One Landing Page</label>
                    <template>page/md-hairloss-version-one-landingpage.phtml</template>
                    <layout_handle>mdhairlossveronelandingpage</layout_handle>
                </mdhairlossveronelandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossvertwolandingpage module="page" translate="label">
                    <label>MD Hairloss Version Two Landing Page</label>
                    <template>page/md-hairloss-version-two-landingpage.phtml</template>
                    <layout_handle>mdhairlossvertwolandingpage</layout_handle>
                </mdhairlossvertwolandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairkitofferlandingpage module="page" translate="label">
                    <label>MD Hair Kit Offer Landing Page</label>
                    <template>page/md-hair-kit-offer-landingpage.phtml</template>
                    <layout_handle>mdhairkitofferlandingpage</layout_handle>
                </mdhairkitofferlandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdintimaterestore module="page" translate="label">
                    <label>MD Intimate Restore PLanding Page</label>
                    <template>page/md-intimate-restore-landingpage.phtml</template>
                    <layout_handle>mdhairkitofferlandingpage</layout_handle>
                </mdintimaterestore> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairkitbundle module="page" translate="label">
                    <label>MD Hair Kit Bundle</label>
                    <template>page/md-hairkit-bundle-landingpage.phtml</template>
                    <layout_handle>mdhairkitbundlelandingpage</layout_handle>
                </mdhairkitbundle> 
            </layouts>
        </page>
    </global>
    <frontend>
        <routers>
            <customer>
             <args>
                <modules>
                 <MD_Layout before="Mage_Customer">MD_Layout</MD_Layout>
                </modules>
             </args>
            </customer>
       </routers>
        <layout>
            <updates>
                <MD_Theme>
                    <file>md_theme.xml</file>
                </MD_Theme>
            </updates>
        </layout>
    </frontend>
</config>


                

