<?xml version="1.0"?> 
<config>
    <modules>
        <MD_Layout>
            <version>0.0.1</version>
        </MD_Layout>
    </modules>
    <global>
        <page>
            <layouts> 
                <new_cms_layout module="page" translate="label">
                    <label>MD Theme</label>
                    <template>page/md-1col.phtml</template>
                    <layout_handle>lookbook</layout_handle>
                </new_cms_layout> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <sales module="page" translate="label">
                    <label>Sales</label>
                    <template>page/sales.phtml</template>
                    <layout_handle>sales</layout_handle>
                </sales> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <landingpage module="page" translate="label">
                    <label>MD Landingpage</label>
                    <template>page/md-landingpage.phtml</template>
                    <layout_handle>landingpage</layout_handle>
                </landingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <landingpagerevamp module="page" translate="label">
                    <label>MD Landingpage Revamp</label>
                    <template>page/md-landingpage-revamp.phtml</template>
                    <layout_handle>landingpagerevamp</layout_handle>
                </landingpagerevamp> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <category module="page" translate="label">
                    <label>MD Category</label>
                    <template>page/category-page.phtml</template>
                    <layout_handle>category</layout_handle>
                </category> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <lashcategory module="page" translate="label">
                    <label>MD Lash Category</label>
                    <template>page/lash-category-page.phtml</template>
                    <layout_handle>lashcategory</layout_handle>
                </lashcategory> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <haircategory module="page" translate="label">
                    <label>MD Hair Category</label>
                    <template>page/hair-category-page.phtml</template>
                    <layout_handle>haircategory</layout_handle>
                </haircategory> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <skincategory module="page" translate="label">
                    <label>MD skin Category</label>
                    <template>page/skin-category-page.phtml</template>
                    <layout_handle>skincategory</layout_handle>
                </skincategory> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <wellnesscategory module="page" translate="label">
                    <label>MD wellness Category</label>
                    <template>page/wellness-category-page.phtml</template>
                    <layout_handle>wellnesscategory</layout_handle>
                </wellnesscategory> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossveronelandingpage module="page" translate="label">
                    <label>MD Hairloss Version One Landing Page</label>
                    <template>page/md-hairloss-version-one-landingpage.phtml</template>
                    <layout_handle>mdhairlossveronelandingpage</layout_handle>
                </mdhairlossveronelandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossveronelandingpagered module="page" translate="label">
                    <label>MD Hairloss Version One Landing Page (RED)</label>
                    <template>page/md-hairloss-version-one-landingpage-red.phtml</template>
                    <layout_handle>mdhairlossveronelandingpagered</layout_handle>
                </mdhairlossveronelandingpagered> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossveronelandingpageyellow module="page" translate="label">
                    <label>MD Hairloss Version One Landing Page (YELLOW)</label>
                    <template>page/md-hairloss-version-one-landingpage-yellow.phtml</template>
                    <layout_handle>mdhairlossveronelandingpageyellow</layout_handle>
                </mdhairlossveronelandingpageyellow> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossveronelandingpageblue module="page" translate="label">
                    <label>MD Hairloss Version One Landing Page (BLUE)</label>
                    <template>page/md-hairloss-version-one-landingpage-blue.phtml</template>
                    <layout_handle>mdhairlossveronelandingpageblue</layout_handle>
                </mdhairlossveronelandingpageblue> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossvertwolandingpage module="page" translate="label">
                    <label>MD Hairloss Version Two Landing Page</label>
                    <template>page/md-hairloss-version-two-landingpage.phtml</template>
                    <layout_handle>mdhairlossvertwolandingpage</layout_handle>
                </mdhairlossvertwolandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossvertwolandingpagered module="page" translate="label">
                    <label>MD Hairloss Version Two Landing Page (RED)</label>
                    <template>page/md-hairloss-version-two-landingpage-red.phtml</template>
                    <layout_handle>mdhairlossvertwolandingpagered</layout_handle>
                </mdhairlossvertwolandingpagered> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossvertwolandingpageyellow module="page" translate="label">
                    <label>MD Hairloss Version Two Landing Page (YELLOW)</label>
                    <template>page/md-hairloss-version-two-landingpage-yellow.phtml</template>
                    <layout_handle>mdhairlossvertwolandingpageyellow</layout_handle>
                </mdhairlossvertwolandingpageyellow> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlossvertwolandingpageblue module="page" translate="label">
                    <label>MD Hairloss Version Two Landing Page (BLUE)</label>
                    <template>page/md-hairloss-version-two-landingpage-blue.phtml</template>
                    <layout_handle>mdhairlossvertwolandingpageblue</layout_handle>
                </mdhairlossvertwolandingpageblue> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairkitofferlandingpage module="page" translate="label">
                    <label>MD Hair Kit Offer Landing Page</label>
                    <template>page/md-hair-kit-offer-landingpage.phtml</template>
                    <layout_handle>mdhairkitofferlandingpage</layout_handle>
                </mdhairkitofferlandingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdintimaterestore module="page" translate="label">
                    <label>MD Intimate Restore Landing Page</label>
                    <template>page/md-intimate-restore-landingpage.phtml</template>
                    <layout_handle>mdhairkitofferlandingpage</layout_handle>
                </mdintimaterestore> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdintimaterestorered module="page" translate="label">
                    <label>MD Intimate Restore Landing Page (RED)</label>
                    <template>page/md-intimate-restore-landingpage-red.phtml</template>
                    <layout_handle>mdhairkitofferlandingpagered</layout_handle>
                </mdintimaterestorered> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdintimaterestoreyellow module="page" translate="label">
                    <label>MD Intimate Restore Landing Page (YELLOW)</label>
                    <template>page/md-intimate-restore-landingpage-yellow.phtml</template>
                    <layout_handle>mdhairkitofferlandingpageyellow</layout_handle>
                </mdintimaterestoreyellow> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdintimaterestoreblue module="page" translate="label">
                    <label>MD Intimate Restore Landing Page (BLUE)</label>
                    <template>page/md-intimate-restore-landingpage-blue.phtml</template>
                    <layout_handle>mdhairkitofferlandingpageblue</layout_handle>
                </mdintimaterestoreblue> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairkitbundle module="page" translate="label">
                    <label>MD Hair Kit Bundle</label>
                    <template>page/md-hairkit-bundle-landingpage.phtml</template>
                    <layout_handle>mdhairkitbundlelandingpage</layout_handle>
                </mdhairkitbundle> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <africanamericanlanding module="page" translate="label">
                    <label>MD African American Landing Page</label>
                    <template>page/md-african-american-landingpage.phtml</template>
                    <layout_handle>africanamericanlanding</layout_handle>
                </africanamericanlanding> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdchinalanding module="page" translate="label">
                    <label>MD China Landing Page</label>
                    <template>page/md-china-landingpage.phtml</template>
                    <layout_handle>mdchinalandind</layout_handle>
                </mdchinalanding> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <aboutus module="page" translate="label">
                    <label>MD About Us Page</label>
                    <template>page/aboutus.phtml</template>
                    <layout_handle>aboutus</layout_handle>
                </aboutus> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <shippingpolicy module="page" translate="label">
                    <label>MD Shipping Policy Page</label>
                    <template>page/shipping-policy.phtml</template>
                    <layout_handle>shippingpolicy</layout_handle>
                </shippingpolicy> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <authenticity module="page" translate="label">
                    <label>MD Authenticity Page</label>
                    <template>page/authenticity.phtml</template>
                    <layout_handle>authenticity</layout_handle>
                </authenticity> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <privacypolicy module="page" translate="label">
                    <label>MD Privacy Policy Page</label>
                    <template>page/privacy-policy.phtml</template>
                    <layout_handle>privacypolicy</layout_handle>
                </privacypolicy> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <termsandconditions module="page" translate="label">
                    <label>MD Terms and Conditions Page</label>
                    <template>page/terms-and-conditions.phtml</template>
                    <layout_handle>termsandconditions</layout_handle>
                </termsandconditions> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <careers module="page" translate="label">
                    <label>MD Careers Page</label>
                    <template>page/careers.phtml</template>
                    <layout_handle>careers</layout_handle>
                </careers> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <faq module="page" translate="label">
                    <label>MD FAQ Page</label>
                    <template>page/faq.phtml</template>
                    <layout_handle>faq</layout_handle>
                </faq> 
            </layouts>
        </page>

        <!-- GURUU LPs -->

        <page>
            <layouts> 
                <mdhealthyhairbundleone module="page" translate="label">
                    <label>MD Healthy Hair Bundle Landing Page One</label>
                    <template>page/md-healthy-hair-bundle-landingpage-one.phtml</template>
                    <layout_handle>mdhealthyhairbundleone</layout_handle>
                </mdhealthyhairbundleone> 
            </layouts>
        </page>

        <page>
            <layouts> 
                <mdhealthyhairbundletwo module="page" translate="label">
                    <label>MD Healthy Hair Bundle Landing Page Two</label>
                    <template>page/md-healthy-hair-bundle-landingpage-two.phtml</template>
                    <layout_handle>mdhealthyhairbundletwo</layout_handle>
                </mdhealthyhairbundletwo> 
            </layouts>
        </page>

         <page>
            <layouts> 
                <mdmomessential module="page" translate="label">
                    <label>MD New Mom Essential Landing Page</label>
                    <template>page/md-mom-essential.phtml</template>
                    <layout_handle>mdmomessential </layout_handle>
                </mdmomessential > 
            </layouts>
        </page>

        <page>
            <layouts> 
                <beautyandserenity module="page" translate="label">
                    <label>MD Beauty and Serenity Landing Page Six</label>
                    <template>page/beauty-and-serenity-landingpage-six.phtml</template>
                    <layout_handle>beautyandserenity</layout_handle>
                </beautyandserenity> 
            </layouts>
        </page>

        <page>
            <layouts> 
                <beautyboost module="page" translate="label">
                    <label>MD Beauty Boost Landing Page Seven</label>
                    <template>page/beauty-boost-landingpage-seven.phtml</template>
                    <layout_handle>beautyboost</layout_handle>
                </beautyboost> 
            </layouts>
        </page>
        
        <page>
            <layouts> 
                <flawlessclearskin module="page" translate="label">
                    <label>MD Flawless Clear Skin Landing Page Eight</label>
                    <template>page/flawless-clear-skin-landingpage-eight.phtml</template>
                    <layout_handle>flawlessclearskin</layout_handle>
                </flawlessclearskin> 
            </layouts>
        </page>

    </global>
    <frontend>
        <routers>
            <customer>
             <args>
                <modules>
                 <MD_Layout before="Mage_Customer">MD_Layout</MD_Layout>
                </modules>
             </args>
            </customer>
       </routers>
        <layout>
            <updates>
                <MD_Theme>
                    <file>md_theme.xml</file>
                </MD_Theme>
            </updates>
        </layout>
    </frontend>
</config>


                

