<?xml version="1.0"?> 
<config>
    <modules>
        <MD_Layout>
            <version>0.0.1</version>
        </MD_Layout>
    </modules>
    <global>
        <page>
            <layouts> 
                <new_cms_layout module="page" translate="label">
                    <label>MD Theme</label>
                    <template>page/md-1col.phtml</template>
                    <layout_handle>lookbook</layout_handle>
                </new_cms_layout> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <landingpage module="page" translate="label">
                    <label>MD Landingpage</label>
                    <template>page/md-landingpage.phtml</template>
                    <layout_handle>landingpage</layout_handle>
                </landingpage> 
            </layouts>
        </page>
        <page>
            <layouts> 
                <mdhairlandingpage module="page" translate="label">
                    <label>MD Hair Landing Page</label>
                    <template>page/md-hair-landingpage.phtml</template>
                    <layout_handle>landingpage</layout_handle>
                </mdhairlandingpage> 
            </layouts>
        </page>
    </global>
    <frontend>
        <layout>
            <updates>
                <MD_Theme>
                    <file>md_theme.xml</file>
                </MD_Theme>
            </updates>
        </layout>
    </frontend>
</config>


                

