<?xml version="1.0"?>
<config>
  <modules>
    <Ddpay_Ddbillb2c>
      <version>1.0.0</version>
    </Ddpay_Ddbillb2c>
  </modules>
  <global>
    <models>
      <ddbillb2c>
        <class>Ddpay_Ddbillb2c_Model</class>
      </ddbillb2c>
    </models>
    <helpers>
      <ddbillb2c>
        <class>Ddpay_Ddbillb2c_Helper</class>
      </ddbillb2c>
    </helpers>
    <blocks>
      <ddbillb2c>
        <class>Ddpay_Ddbillb2c_Block</class>
      </ddbillb2c>
    </blocks>
  </global>
  <default>
    <payment>
      <ddbillb2c>
        <model>ddbillb2c/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>DDPay DDBill B2C</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </ddbillb2c>
    </payment>
  </default>
  <frontend>
    <routers>
      <ddbillb2c>
        <use>standard</use>
        <args>
          <module>Ddpay_Ddbillb2c</module>
          <frontName>ddbillb2c</frontName>
        </args>
      </ddbillb2c>
    </routers>
	<events>
		<checkout_submit_all_after>
			<observers>
				<hss_save_order_after_submit>
					<class>ddbillb2c/standard</class>
					<method>saveOrderAfterSubmit</method>
				</hss_save_order_after_submit>
			</observers>
		</checkout_submit_all_after>
	</events>
  </frontend>
</config>
