<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWGADashboard>
			<version>1.1.6</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewgadashboard_config/index</configure_url>
            </extendware>
		</Extendware_EWGADashboard>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewgadashboard after="Mage_Adminhtml">Extendware_EWGADashboard</extendware_ewgadashboard>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWGADashboard>
					<files>
						<default>extendware/Extendware_EWGADashboard.csv</default>
					</files>
				</Extendware_EWGADashboard>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewgadashboard>
					<file>extendware/ewgadashboard.xml</file>
				</ewgadashboard>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWGADashboard>
					<files>
						<default>extendware/Extendware_EWGADashboard.csv</default>
					</files>
				</Extendware_EWGADashboard>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewgadashboard>
					<file>extendware/ewgadashboard.xml</file>
				</ewgadashboard>
			</updates>
		</layout>
		<routers>
			<ewgadashboard>
				<use>standard</use>
				<args>
					<module>Extendware_EWGADashboard</module>
					<frontName>ewgadashboard</frontName>
				</args>
			</ewgadashboard>
        </routers>
    </frontend>
	<global>
		<models>
			<ewgadashboard>
				<class>Extendware_EWGADashboard_Model</class>
				<resourceModel>ewgadashboard_mysql4</resourceModel>
			</ewgadashboard>
			<ewgadashboard_mysql4>
                <class>Extendware_EWGADashboard_Model_Mysql4</class>
                <entities/>
            </ewgadashboard_mysql4>
		</models>
		<blocks>
			<ewgadashboard>
                <class>Extendware_EWGADashboard_Block</class>
            </ewgadashboard>
		</blocks>
		<helpers>
			<ewgadashboard>
				<class>Extendware_EWGADashboard_Helper</class>
			</ewgadashboard>
		</helpers>
		<resources>
			<ewgadashboard_setup>
				<setup>
					<module>Extendware_EWGADashboard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewgadashboard_setup>
			<ewgadashboard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewgadashboard_write>
            <ewgadashboard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewgadashboard_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewgadashboard>
            <general>
            	<default_dashboard>magento</default_dashboard>
                <profile_id></profile_id>
                <account></account>
                <password></password>
                <cache_lifetime>60</cache_lifetime>
                <timezone>Europe/London</timezone>
            </general>
        </ewgadashboard>
        <ewgadashboard_advanced>
            <content>
            	<period_magnitude>30</period_magnitude>
            	<max_items>20</max_items>
            </content>
            <referrer>
            	<period_magnitude>30</period_magnitude>
            	<max_items>20</max_items>
            	<sort_by>visits</sort_by>
            </referrer>
        </ewgadashboard_advanced>
		<ewgadashboard_developer>
            <general>
            	<report_config><![CDATA[<reports>
	<today>
		<!-- text, compact, or graph-->
		<display>text</display>
		<header_title>Today</header_title>
		<!-- you can set your own custom date range. must be parsable by strtotime() -->
		<from>today</from><to>today</to>
		<!-- remove or change the order of the metrics -->
		<metrics>visits,pageviews,pageviews_per_visit,time_on_site,revenue,revenue_per_visit,revenue_per_transaction,transactions,transactions_per_visit,bounce_rate,organic_searches,page_load_time</metrics>
	</today>
	<yesterday>
		<display>compact</display>
		<header_title>Yesterday</header_title>
		<from>yesterday</from><to>yesterday</to>
		<metrics>visits,pageviews,pageviews_per_visit,time_on_site,revenue,revenue_per_visit,revenue_per_transaction,transactions,transactions_per_visit,bounce_rate,organic_searches,page_load_time</metrics>
	</yesterday>
	<last30days>
		<display>graph</display>
		<header_title>Last 30 Days</header_title>
		<from>yesterday - 29 days</from><to>yesterday</to>
		<metrics>visits,pageviews,pageviews_per_visit,time_on_site,revenue,revenue_per_visit,revenue_per_transaction,transactions,transactions_per_visit,bounce_rate,organic_searches,page_load_time</metrics>
		<normalization_factor>2</normalization_factor>
	</last30days>
	<last90days>
		<display>graph</display>
		<header_title>Last 90 Days</header_title>
		<from>yesterday - 89 days</from><to>yesterday</to>
		<metrics>visits,pageviews,pageviews_per_visit,time_on_site,revenue,revenue_per_visit,revenue_per_transaction,transactions,transactions_per_visit,bounce_rate,organic_searches,page_load_time</metrics>
		<normalization_factor>6</normalization_factor>
	</last90days>
</reports>]]></report_config>
            </general>
        </ewgadashboard_developer>
	</default>
	<extendware>
		<override>
			<controller>
				<mage_core_controller_varient_router_standard_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Core_Controller_Varien_Router_Standard</class></search>
					<replace>
						<class>Extendware_EWCore_Controller_Override_Mage_Core_Varien_Router_Standard</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_core_controller_varient_router_standard_ewcore_override>
				<mage_adminhtml_dashboardcontroller_ewgadashboard_override>
					<mode>extendware</mode>
					<search><class>Mage_Adminhtml_DashboardController</class></search>
					<replace>
						<class>Extendware_EWGADashboard_Override_Mage_DashboardController</class>
						<order>100</order>
					</replace>
				</mage_adminhtml_dashboardcontroller_ewgadashboard_override>
			</controller>
	   </override>
	</extendware>
</config>
