/* Navigation */


.customnav {
    position: relative;
    z-index: 99999999;

    nav {
        transition: all 0.4s ease;
        padding: 0;

        #topBar {
            margin: 0;
        }

        &.fixed-nav {
            background: #fff;
            z-index: 9999;

            .navWrapper {
                padding:0;

                .custom-container {
                    .MDnav.light ul ul, .MDnav.light ul ul ul {
                        background: #fff;
                    }
                }
            }
        }
        
        .navWrapper {
            padding: 32px 0 32px 0;

            @media screen and (max-width: 1064px) {
                padding: 0;
            }

            .custom-container {
                &.navi {
                    margin: 0 auto;
                }

                .MDnav.light li a {
                    color: #5d5b5b;
                }

                .MDnav.light ul ul, .MDnav.light ul ul ul {
                    background: #f1f1f0;

                    @media screen and (max-width: 1064px) {
                        background: #fff;
                     }
                }

                .searchWrapper {
                    .MDCurrencyWrapper {
                        top: 4px;
                        background: transparent;
                    }

                    form {
                        border: 2px solid #5d5b5b;
                        padding: 7px 0px 7px 0px;

                        input {
                            color: #5d5b5b;

                            &::-webkit-input-placeholder {
                                color: #5d5b5b;
                                opacity: 1;
                            }

                            &:-moz-placeholder {
                                color: #5d5b5b;
                                opacity: 1;
                            }

                            &::-moz-placeholder {
                                color: #5d5b5b;
                                opacity: 1;
                            }

                            &:-ms-input-placeholder {
                                color: #5d5b5b;
                                opacity: 1;
                            }
                        }

                        button {
                            i {
                                color: #5d5b5b;
                            }
                        }
                    }
                }
            }
        }
    }
}

.transparentNav {
    position: relative;
    width: 100%;
    float: left;
    z-index: 99999;
}

nav {
    font-family: 'HelveticaLTStd-Light', Arial, sans-serif;
    width: 100%;
    text-align: center;
    height: auto;
    transition: all 0.4s ease;
    padding: 0;
    z-index: 9999;

    /* Top Bar */

        #topBar {
            height: 57px;
            background: #1183ce;
            z-index: 100001;
            color: #dcdee0!important;
            font-size: 14px;
            font-weight: bold;
            min-width: 320px;
            margin: 0 0 30px 0;
            transition: all 0.4s ease;

            @media only screen and (max-width: 1064px) {
                margin: 0;
            }

            a {
                color: #dcdee0;
                text-decoration: none;
            }
        }

        #topBar .info {
            float: left;
            margin-top: 7px;
            line-height: 34.29px;
            padding-left: 5px;
            margin-right: 35px;
            padding-top: 5px;
            background: no-repeat 0 6px;
            -webkit-background-size: 34px;
            -moz-background-size: 34px;
            background-size: 34px;
            -ms-behavior: url(backgroundsize.min.htc);
            font-family: 'Helvetica', Arial, sans-serif;
        }


        #topBar .myAccount {
            display: none;
            @media only screen and (max-width: 1100px) {
                text-indent: -9999em;
                width: 20px;
                height: 22px;
                background: url(../images/my-account-ico.png) no-repeat;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                background-size: 100%;
                -ms-behavior: url(backgroundsize.min.htc);
                top: 12px;
                position: relative;
            }

            @media only screen and (max-width: 767px) {
                top: 0;
            }
        }

        #topBar .signin {
            margin-right: 20px;
        }

        #topBar .freeShipping{
            margin-right: 100px;
            position: relative;
            right: 15px;

            @media only screen and (max-width : 1270px) { 
                margin-right:0;
            }

            @media only screen and (max-width: 885px) {
                img {
                    width: 320px;
                    position: relative;
                    top: 6px;
                }
            }

            @media only screen and (max-width : 1252px) {
                display: none;
            }
        }

        #topBar .freeShipping span {
            display: inline-block;
            border-left: 2px solid #dcdee0;
            padding-left: 5px;
            height: 13px;
            line-height: 14px;
        }

        #topBar .phone {
            background-image: url(../images/contact-ico.png);
            padding-left: 46px;

            @media only screen and (max-width: 1280px) {
                font-size: 13px;
            }

            @media only screen and (max-width: 450px) {
               display: none;
            }
        }   

        #topBar .gifts {
            background-image: url(../images/gifts-ico.png);
            background-position: 0 3px;
            padding-left: 50px;

            @media only screen and (max-width: 1280px) {
                font-size: 13px;
            }

            @media only screen and (max-width: 670px) {
                display: none;
            }
        }   

        #topBar .shoppingBag {
            float: right;
            width: 26px;
            height: 30px;
            margin-top: 13px;
            background: url(../images/bag-ico.png) no-repeat;
            text-indent: -9999em;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            background-size: 100%;
            -ms-behavior: url(backgroundsize.min.htc);
        }
        .cart-link{
            position:relative;
        }
        .cart-link .badge {
            background-color: #e8408b;
            left: -10px;
            padding: 3px 9px;
            position: absolute;
            text-indent: 0;
            top: 0;
            color: #fff!important;
        }

        .badge {
            background-color: #777;
            border-radius: 10px;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            min-width: 10px;
            padding: 3px 7px;
            text-align: center;
            vertical-align: baseline;
            white-space: nowrap;
            height: 20px;
        }

        #topBar .signin {
            float: right;
            padding-left: 0;

            @media only screen and (max-width: 1280px) {
                font-size: 13px;
            }
        }

        #topBar .myAccount {
            float: right;
            padding-left: 0;

            @media only screen and (max-width: 1280px) {
                font-size: 13px;
            }
        }

        #topBar a:hover{color:#dcdee0;}

        body.withTopbar #topNavi{
            top: 56px;
        }

        body.withTopbar.scrolling #topNavi{
            top: 31px;
            max-height: 85px;
        }

        body.withTopbar.stickyNavi #topNavi .navi li .sub {
            top: 123px;
        }

        body.withTopbar #topNavi .navi li .sub {
            top: 141px;
        }

        /* End of Top Bar */

    .custom-container {
        &.navi {
            margin: 25px auto;
            display: flex;
            align-items: center;

            @media screen and (max-width: 1064px) {
                margin: 0;
                padding: 0!important;
            }
        }

        .logo {
            outline: none;
            width: 180px;
            text-align: left;

            @media screen and (max-width: 1270px) {
                img {
                    width: 110px;
                }
            }
            
            @media screen and (max-width: 1064px) {
                display: none;
            }
        }

        .MDnav,.MDnav li {
            position:relative;
            line-height:normal
        }
        .MDnav {
            width:100%;
            z-index:9900
        }
        .MDnav ul {
            margin:0;
            padding:0;
            text-align:center
        }
        .MDnav li {
            list-style:none;
            display:block;
            margin:0;
            padding:0;
            vertical-align:middle
        }

        .MDnav li a {
            padding:15px;
            display:block;
            text-decoration:none;
            color:#777;
            font-size:inherit;
            font-family:inherit;
            box-sizing:border-box;
            -webkit-transition:all .3s ease-out;
            -moz-transition:all .3s ease-out;
            transition:all .3s ease-out
        }

        .MDnav>ul>li {
            display:inline-block
        }
        .MDnav>ul>li>a {
            padding:15px 20px;

            @media only screen and (max-width : 1470px) { 
                padding: 15px 11px;
                font-size: 14px;
            }
        }
        .MDnav ul ul {
            top:auto;
            width:220px;
            position:absolute;
            z-index:9900;
            text-align:left;
            display:none;
            background:#ddd
        }
        .MDnav li li {
            display:block
        }
        .MDnav .call-btn-mobile,.MDnav .dd-toggle,.MDnav li.call-btn-location,.MDnav li.call-btn-mobile,.MDnav.hide-arrows li li.has-sub>a:after,.MDnav.hide-arrows li.drop-left li.has-sub>a:after,.MDnav.hide-arrows li.has-sub>a:after {
            display:none
        }
        .MDnav ul ul ul {
            top:0;
            left:220px
        }
        .MDnav>ul>li:hover>ul>li:hover>ul {
            opacity:1;
            visibility:visible;
            top:0
        }
        .MDnav>ul>li.drop-left>ul {
            right:0
        }
        .MDnav li.drop-left ul ul {
            left:auto;
            right:220px
        }
        .MDnav.light,.MDnav.light ul {
            background:transparent;

            li {
                border-top: 2px solid transparent;

                &.has-sub.hover {
                    border-top: 2px solid #e8408b;
                }
            }
        }

        .MDnav.light ul ul{
            background: rgba(255, 255, 255, 0.86);

            li {
                border-top: none;

                &.has-sub.hover { 
                    border-top: none;
                }

                a {
                    color: #454545;
                    text-transform: none;
                    font-weight: lighter;
                    font-size: 12.5px;
                    outline: none;
                    
                    &.thirdlevel {
                        height: 85px;
                        display: flex;
                        align-items: center;
                    }

                    img {
                        display: inline;
                        float: left;
                        height: 70px;
                    }
                }
            }
        }

       .MDnav.light ul ul ul {
            background: rgba(255, 255, 255, 0.92);
            top:0;
            left:220px;
            width: 300px;

            li {
                width: auto;
            }
        }

        .MDnav.light ul li {
            &:nth-child(5) {
                a {
                    color: #d72f7a!important;
                }
            }

            &:nth-child(6) {
                ul.brandDropdown {
                    width: 100px;
                    text-align: center;

                    @media screen and (max-width: 1064px) { 
                        width: 100%;
                        text-align: left;
                    }

                    ul {
                        width: 100px;
                        left: 100px;

                        @media screen and (max-width: 1064px) { 
                            width: 100%;
                            left: 0;
                            
                            li {
                                a {
                                    padding: 25px 70px 25px 70px;
                                }
                            }
                        }
                    }
                }
            }

            &.mobileSearchWrapper {

                @media screen and (max-width: 1064px) { 
                    display: block!important;
                    width: 100%;
                    float: left;
                    height: 60px;

                    .searchWrapper {
                        width: 100%;
                        padding: 0 35px 0 35px;

                        @media screen and (max-width: 470px) { 
                            padding: 0 10px 0 10px;
                        }

                        form {
                            border:none!important;
                            width: 100%;
                            height: 60px;

                            button {
                                i {
                                    color: #1183ce;
                                }
                            }

                            input {
                                color: #1183ce;

                                 &::-webkit-input-placeholder {
                            color: #1183ce;
                            opacity: 1;
                        }
                        
                        &:-moz-placeholder {
                            color: #1183ce;
                            opacity: 1;
                        }

                        &::-moz-placeholder {
                            color: #1183ce;
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            color: #1183ce;
                            opacity: 1;
                        }
                            }
                        }
                    }
                }
            }

            ul {
                li {
                     &:nth-child(5) {
                        a {
                            color: #727070!important;
                        }
                    }
                }
            }
        }

        .MDnav.light li a {
            font-family: 'HelveticaLTStd-Light', Arial, sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;

            @media screen and (max-width: 1064px) { 
                color: #727070;
            }
            
            &:hover {
                color: #d72f7a;
            }
        }

        .MDnav.dark .menu-toggle {
            color:rgba(255,255,255,1)
        }
        .MDnav.fixed {
            position:fixed;
            width:100%;
            top:0;
            left:0;
            z-index:9999
        }
        body.MDnav-noscroll-x {
            overflow-x:hidden
        }

        .MDnav li li.has-sub>a:after {
            content:'\f0da';
            font-family:FontAwesome;
            margin-left:10px;
            float: right;
        }
        .MDnav li.drop-left li.has-sub>a:after {
            float:left;
            content:'\f0d9';
            font-family:FontAwesome;
            margin-right:10px
        }
        .MDnav .close-menu,.MDnav .menu-toggle {
            display:none;
            text-transform:uppercase;
            text-decoration:none
        }
        .MDnav .dd-toggle {
            position:absolute;
            top:0;
            right:0;
            padding:0;
            width:48px;
            height:48px;
            text-align:center;
            z-index:9999;
            border:0
        }
        .MDnav .dd-toggle i {
            position:absolute;
            margin:auto;
            top:33%;
            left: 86.5%;
            right:0;
            -webkit-transition:transform .3s ease-out;
            -moz-transition:transform .3s ease-out;
            transition:transform .3s ease-out;
        }
        .MDnav.mobile>ul>li>a.dd-toggle {
            padding:0
        }
        .MDnav li.open>a.dd-toggle i {
            -webkit-transform:rotate(135deg);
            -ms-transform:rotate(135deg);
            -o-transform:rotate(135deg);
            transform:rotate(135deg)
        }
        @media only screen and (max-width :768px) {
            .MDnav {
                overflow:hidden;
                display:block
            }
            .MDnav ul {
                position:relative;
                display:none
            }
        }
        .MDnav .menu-toggle {
            color:#777;
            padding:10px 15px 10px 15px;
            height: 55px;

            @media only screen and (max-width : 470px) {
                padding: 10px 15px 10px 15px;
            }
        }
        .MDnav.mobile,.MDnav.mobile.fixed {
            position:static;
            background: #f1f1f0;
            width: 100%;
            float: left;
            height: auto;
            line-height: 50px;

            .mobilelogo {
                width: 75px;
                float: left;
            }
            .fa-bars {
                float: right;
                font-size: 30px;
            }

            ul {
                ul {
                    ul {
                        overflow-y: auto;
                        height: auto;
                        max-height: 150px;

                        &::-webkit-scrollbar {
                            width: 20px;
                            height: 20px;
                            outline: none;
                        }

                        &::-webkit-scrollbar-thumb {
                            height: 6px;
                            border: 4px solid transparent;
                            background-clip: padding-box;
                            -webkit-border-radius: 7px;
                            background-color: rgba(0, 0, 0, 0.15);
                            -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
                        }

                        &::-webkit-scrollbar-button {
                            width: 0;
                            height: 0;
                            display: none;
                        }

                        &::-webkit-scrollbar-corner {
                            background-color: transparent;
                        }

                    }
                }
            }
        }
        .MDnav.mobile ul {
            position:relative;
            display:none;
            text-align:left;
            background:rgba(221,221,221,1);
        }
        .MDnav.mobile.active>ul,.MDnav.mobile>ul>li {
            display:block;
            background: #fff;
        }
        .MDnav.mobile.active {
            padding-bottom:0
        }
        .MDnav.mobile>ul>li>a {
            padding:20px 50px 20px 50px;

            @media only screen and (max-width : 470px) {
               padding:20px 15px 20px 15px; 
            }
        }
        .MDnav.mobile ul ul {
            position:relative;
            opacity:1;
            visibility:visible;
            width:auto;
            display:none;
            -moz-transition:none;
            -webkit-transition:none;
            -o-transition:color 0 ease-in;
            transition:none;
            
            li {
                a {
                    padding:20px 50px 20px 50px;
                }
            }
        }
        .MDnav.mobile ul ul ul {
            left:auto;
            top:auto;
            width: 100%;
        }
        .MDnav.mobile li.drop-left ul ul {
            right:auto
        }
        .MDnav.mobile li a {
            border-bottom:1px solid rgba(255,255,255,.15)
        }
        .MDnav.mobile li.has-sub a {
            padding-right:50px
        }
        .MDnav.mobile.light li a {
            border-bottom:1px solid rgba(0,0,0,.15)
        }
        .MDnav.mobile li a.dd-toggle,.MDnav.mobile.light li a.dd-toggle {
            border:0;
            width: 100%;
        }
        .MDnav.mobile .close-menu,.MDnav.mobile .dd-toggle,.MDnav.mobile .menu-toggle {
            display:block
        }
        .MDnav.mobile li.call-btn-mobile {
            border-right:1px solid rgba(255,255,255,.1);
            box-sizing:border-box
        }
        .MDnav.mobile li.call-btn-location,.MDnav.mobile li.call-btn-mobile {
            display:inline-block;
            width:50%;
            text-transform:uppercase;
            text-align:center
        }
        .MDnav.mobile li.call-btn-location.full,.MDnav.mobile li.call-btn-mobile.full {
            display:block;
            width:100%;
            text-transform:uppercase;
            border-right:0;
            text-align:left
        }
        .MDnav.mobile li.call-btn-location i,.MDnav.mobile li.call-btn-mobile i {
            margin-right:5px
        }
        .MDnav.mobile.light ul {
            background:rgba(255,255,255,1);
                overflow-y: auto;
             height: 80vh;
        }
        .MDnav.mobile.dark ul {
            background:rgba(0,0,0,1)
        }
        .MDnav.mobile.dark ul ul {
            background:rgba(255,255,255,.08)
        }
        .MDnav.mobile.light li.call-btn-mobile {
            border-right:1px solid rgba(0,0,0,.1)
        }
        .MDnav.mobile.top {
            position:absolute;
            width:100%;
            top:0;
            left:0;
            z-index:9999
        }
        .MDnav.mobile li li.has-sub>a:after,.MDnav.mobile li.drop-left li.has-sub>a:after,.MDnav.mobile li.has-sub>a:after {
            display:none
        }

        .searchWrapper {
            width: 30%;
            float: left;
            display: flex;
            align-items: center;

            @media screen and (max-width: 1064px) {
                &.desktopSearcWrapper {
                    display: none;
                }
            }

            .MDCurrencyWrapper {
                position: relative;
                top: 4px;
                height: auto;
                padding:0;

                .AUD::before {
                    content: url('../images/currency/au-flag.png');
                }
                .CAD::before {
                    content: url('../images/currency/ca-flag.png');
                }
                .BRL::before {
                    content: url('../images/currency/br-flag.png');
                }
                .CNY::before {
                    content: url('../images/currency/ch-flag.png');
                }
                .MXN::before {
                    content: url('../images/currency/mx-flag.png');
                }
                .USD::before {
                    content: url('../images/currency/us-flag.png');
                }

                ul li:hover > ul {
                    display:list-item;
                    color: #1183ce;
                    z-index: 100;
                    width: 300px;

                    li {
                        width: 50%;
                        float: left;
                    }
                }

                ul {
                    list-style:none;
                    position:relative;
                    float:right;
                    margin:0;
                    padding:0;

                    li {
                        position:relative;
                        float:left;
                        margin:0px;
                        padding:0;
                        z-index:100;
                        &:hover {
                            ;
                            cursor: pointer;
                            z-index:100;
                        }
                        &.language {
                            width: 100%!important;
                            float: left;
                            text-align: center;
                            padding: 10px 0 5px 0;
                            color: #727070;
                        }
                        a {
                            display: block;
                            width: 62px;
                            text-align: left;
                            z-index: 100;
                            outline: none;
                            font-family: 'Helvetica', Arial, sans-serif;
                            text-decoration: none;
                            color: #0d6ba9;
                        }

                        ul {
                            display:none;
                            position:absolute;
                            top:100%;
                            left:0;
                            background:#fff;
                            padding:0;
                            z-index:100;
                            border: 1px solid #000;
                            li {
                                float:none;
                                z-index:100;
                                width:235px;
                                a {
                                    line-height:120%;
                                    padding:10px 10px;
                                    text-align: left;
                                    left: 100px;
                                    z-index:100;
                                    display: flex;
                                    align-items: center;
                                    outline: none;
                                    font-size: 12px;
                                    font-weight: 600;
                                    &::before {
                                        padding-right: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            form {
                width: auto;
                float: left;
                display: flex;
                align-items: center;
                border: 2px solid #fff;
                border-radius: 2px;
                padding: 5px 0px 5px 0px;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-weight: bold;
                    font-size: 15px;
                    font-family: 'Helvetica', Arial, sans-serif;
                    position: relative;
                    top: 1px;
                    padding: 0 15px 0 6px;

                    &::-webkit-input-placeholder {
                        color: #fff;
                        opacity: 1;
                    }

                    &:-moz-placeholder {
                        color: #fff;
                        opacity: 1;
                    }

                    &::-moz-placeholder {
                        color: #fff;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: #fff;
                        opacity: 1;
                    }
                }
                button {
                    background: none;
                    border: none;
                    padding: 0 15px 0 15px;
                    outline: none;
                    cursor: pointer;
                    i {
                        color: #fff;
                        font-size: 16px;
                        &:hover {
                            color: #e8408b;
                        }
                    }
                }
            }
        }
    }

    &.fixed-nav{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        height: auto;
        transition: all 0.4s ease;
        -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);
        background: #fff;
        padding: 0;
        z-index: 9999;

        #topBar {
            margin: 0;
        }


        .custom-container {
            &.navi {
                margin: 0 auto;
                display: flex;
                align-items: center;
                padding: 2px 0px 2px 0px;

                @media screen and (max-width: 1100px) {
                    padding: 2px 20px 2px 20px;
                }

                @media screen and (max-width: 1064px) {
                    padding: 0;
                }
            }

            .MDnav.light ul ul {
                background: #fff;
            }

            .MDnav.light,.MDnav.light ul {
                background: transparent;
                
                @media screen and (max-width: 1064px) {
                    background: #f1f1f0;
                }

                li {
                    a {
                        color: #727070;

                        &:hover {
                            color: #e8408b;
                        }
                    }
                }
            }

            .whitelogo {
                display: none;
            }

            .darklogo {
                display: inline-block!important;
                width: 80px;
            }

            .searchWrapper {
                form {
                    border: 2px solid #e8408b;

                    input {
                        color: #e8408b;

                        &::-webkit-input-placeholder {
                            color: #e8408b;
                            opacity: 1;
                        }
                        
                        &:-moz-placeholder {
                            color: #e8408b;
                            opacity: 1;
                        }

                        &::-moz-placeholder {
                            color: #e8408b;
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            color: #e8408b;
                            opacity: 1;
                        }
                    }

                    button {
                        i {
                            color: #e8408b;
                        }
                    }
                }
            }
        }
    }
}

#main-navWrapper {
    .sticky {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
        background: #efc47D;
        text-align: left;
        padding-left: 20px;
        transition: all 0.4s ease;
    }
}




#topBar .CurrencyWrapper {

    @media screen and (max-width: 1064px) { 
        display: block!important;

        .MDCurrencyWrapper {
                position: relative;
                top: 14px;
                right: 0;
                height: auto;
                padding:0;

                .AUD::before {
                    content: url('../images/currency/au-flag.png');
                }
                .CAD::before {
                    content: url('../images/currency/ca-flag.png');
                }
                .BRL::before {
                    content: url('../images/currency/br-flag.png');
                }
                .CNY::before {
                    content: url('../images/currency/ch-flag.png');
                }
                .MXN::before {
                    content: url('../images/currency/mx-flag.png');
                }
                .USD::before {
                    content: url('../images/currency/us-flag.png');
                }

                ul li:hover > ul {
                    display:list-item;
                    color: #1183ce;
                    z-index: 100;
                    width: 300px;

                    li {
                        width: 50%;
                        float: left;
                    }
                }

                ul {
                    list-style:none;
                    position:relative;
                    float:left;
                    margin:0;
                    padding:0;

                    li {
                        position:relative;
                        float:left;
                        margin:0px;
                        padding:0;
                        z-index:100;
                        &:hover {
                            ;
                            cursor: pointer;
                            z-index:100;
                        }
                        &.language {
                            width: 100%!important;
                            float: left;
                            text-align: center;
                            padding: 10px 0 5px 0;
                            color: #727070;
                        }
                        a {
                            display: block;
                            width: 62px;
                            text-align: left;
                            z-index: 100;
                            outline: none;
                            font-family: 'Helvetica', Arial, sans-serif;
                            text-decoration: none;
                            color: #0d6ba9;
                        }

                        ul {
                            display:none;
                            position:absolute;
                            top:100%;
                            left:0;
                            background:#fff;
                            padding:0;
                            z-index:100;
                            border: 1px solid #000;
                            li {
                                float:none;
                                z-index:100;
                                width:235px;
                                a {
                                    line-height:120%;
                                    padding:10px 10px;
                                    text-align: left;
                                    left: 100px;
                                    z-index:100;
                                    display: flex;
                                    align-items: center;
                                    outline: none;
                                    font-size: 12px;
                                    font-weight: 600;
                                    &::before {
                                        padding-right: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }
}


/* End of Navigation */

