/* Navigation */

nav {
    font-family: 'HelveticaLTStd-Light', Arial, sans-serif;
    width: 100%;
    text-align: center;
    height: 145px;
    transition: all 0.4s ease;
    padding: 35px 0 0 0;
    z-index: 9999;

    @media screen and (max-width: 1070px) {
        height: auto;
        border-bottom: 0;
        padding: 0;
    }

    .custom-container {
        display: flex;

        @media screen and (max-width: 1070px) {
            padding: 0!important;
            display: inline-block;
        }

        ul.main-nav {
            padding: 0;
            margin: 0;
            float: left;

            @media screen and (max-width: 1070px) {
                display: none;
                height: auto;
                float: none;
            }

            li {
                display: flex;
                float: left;
                height: 110px;
                align-items: center;
                padding: 0 30px 0 0;

                @media screen and (max-width: 1070px) {
                    padding: 0 15px 0 0;
                }

                @media screen and (max-width: 1070px) {
                    height: auto;
                    padding: 0;
                    margin: 0;
                }
                
                &:nth-child(1) {
                	padding: 0 301px 0 0;

                	@media only screen and (max-width : 1470px) {
                		padding: 0 218px 0 0;
                	}

                	@media only screen and (max-width : 1370px) {
                		padding: 0 148px 0 0;
                	}
					
					@media only screen and (max-width : 1270px) {
                		padding: 0 78px 0 0;
                	}

                	@media only screen and (max-width : 1170px) {
                		padding: 0 43px 0 0;
                	}

                	@media screen and (max-width: 1070px) {
                		display: none;
                	}
                }

                &:nth-child(8), &:nth-child(9) {
                	@media screen and (max-width: 1070px) {
                		display: block!important;
                	}
                }

                &:nth-child(8) {
                	.searchWrapper {
                		width: 100%;
                		display: block;
					    background: #363636;
					    border-bottom: 1px solid #555;
					    padding: 20px 50px 20px 50px!important;

					    @media screen and (max-width: 470px) {
	                        padding: 20px 15px 20px 15px!important;
	                        font-size: 12px;
	                    }

					    form {
					    	width: 100%;
    						height: 50px;

    						input {
    							letter-spacing: 2px;
    							width: 100%;

    						 	@media screen and (max-width: 470px) { 
    						 		font-size: 12px;
    						 	}
    						}
					    }
                	}
                }

                &:nth-child(9) {
                	background: #363636;
                	padding: 20px 50px 20px 50px!important;

                	@media screen and (max-width: 470px) {
                        padding: 20px 15px 20px 15px!important;
                    }

                	a {
                		border: none!important;
                		display: flex;
                		width: auto;
                		float: right;
                		padding: 5px 0 0 5px !important;
                	}
                }

                a {
                    font-family: 'HelveticaLTStd-Light', Arial, sans-serif;
                    font-weight: bold;
                    display: inline-block;
                    width: auto;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 10px 0;
                    color: #fff;

                    &:hover {
                        color: #d72f7a;
                    }

                    @media screen and (max-width: 1086px) {
                        font-size: 15px;
                    }

                    @media screen and (max-width: 1070px) {
                        text-align: left;
                        width: 100%;
                        text-indent: 0px;
                        border-bottom: 1px solid #555!important;
                        padding: 20px 50px 20px 50px!important;
                        color: #fff;
                        font-size: 15px;
                        transition: all 0.5s ease;
                        background: #363636;

                        &:hover {
                            color: #d72f7a!important;
                        }
                    }

                    @media screen and (max-width: 470px) {
                        padding: 20px 15px 20px 15px!important;
                        font-size: 12px;
                    }
                }

                @media screen and (max-width: 1070px) {
                    width: 100%;
                    float: left;
                    position: relative;
                }
            }
        }

        .searchWrapper {
			width: 30%;
			float: left;
			display: flex;
			align-items: center;

			&.desktopSearcWrapper {
				@media screen and (max-width: 1070px) {
					display: none;
				}
			}

			.MDCurrencyWrapper {
				position: relative;
				top: 2px;
				height: auto;
				padding:0;

				.AUD::before {
					content: url('../images/currency/au-flag.png');
				}
				.CAD::before {
					content: url('../images/currency/ca-flag.png');
				}
				.BRL::before {
					content: url('../images/currency/br-flag.png');
				}
				.CNY::before {
					content: url('../images/currency/ch-flag.png');
				}
				.MXN::before {
					content: url('../images/currency/mx-flag.png');
				}
				.USD::before {
					content: url('../images/currency/us-flag.png');
				}

				ul li:hover > ul {
					display:list-item;
					color: #1183ce;
					z-index: 100;
					width: 300px;

					li {
						width: 50%;
						float: left;
					}
				}

				ul {
					list-style:none;
					position:relative;
					float:right;
					margin:0;
					padding:0;

					li {
						position:relative;
						float:left;
						margin:0px;
						padding:0;
						z-index:100;
						&:hover {
							;
							cursor: pointer;
							z-index:100;
						}
						&.language {
							width: 100%!important;
							float: left;
							text-align: center;
							padding: 10px 0 5px 0;
							color: #454545;
						}
						a {
							display: block;
							width: 62px;
							text-align: left;
							z-index: 100;
							outline: none;
							font-family: 'Helvetica', Arial, sans-serif;
							text-decoration: none;
							color: #0d6ba9;
						}

						ul {
							display:none;
							position:absolute;
							top:100%;
							left:0;
							background:#fff;
							padding:0;
							z-index:100;
							border: 1px solid #000;
							li {
								float:none;
								z-index:100;
								width:235px;
								a {
									line-height:120%;
									padding:10px 10px;
									text-align: left;
									left: 100px;
									z-index:100;
									display: flex;
									align-items: center;
									outline: none;
									font-size: 12px;
									font-weight: 600;
									&::before {
										padding-right: 20px;
									}
								}
							}
						}
					}
				}
			}
			form {
				width: auto;
				float: left;
				display: flex;
				align-items: center;
				border: 2px solid #fff;
				border-radius: 2px;
				padding: 5px 0px 5px 0px;
				input {
					background: none;
					border: none;
					outline: none;
					color: #fff;
					font-weight: bold;
					font-size: 15px;
					font-family: 'Helvetica', Arial, sans-serif;
					position: relative;
					top: 1px;
					padding: 0 15px 0 6px;
					&::-webkit-input-placeholder {
						color: #fff;
						opacity: 1;
					}
					&:-moz-placeholder {
						color: #fff;
						opacity: 1;
					}
					&::-moz-placeholder {
						color: #fff;
						opacity: 1;
					}
					&:-ms-input-placeholder {
						color: #fff;
						opacity: 1;
					}
				}
				button {
					background: none;
					border: none;
					padding: 0 15px 0 15px;
					outline: none;
					cursor: pointer;
					i {
						color: #fff;
						font-size: 16px;
						&:hover {
							color: #e8408b;
						}
					}
				}
			}
		}

        #openup {
            display: none;

            @media screen and (max-width: 1070px) {
                display: block;
                width: 100%;
                float: left;
                height: 85px;
                line-height: 85px;
                position: relative;
                background: #f1f1f0;
                text-align: left;
                padding: 0 50px 0 50px;
                text-decoration: none;

                &:after {
                    content: "\f0c9";
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 39px;
                    color: #555555;
                    float: right;
                }

                img {
                    position: relative;
                    top: 13px;
                    width: 125px;

                    @media only screen and (max-width : 470px) {
                    	top: 15px;
    					width: 95px;
                    }
                }
            }

            @media only screen and (max-width : 470px) {
                padding: 0 15px 0 15px;
            }
        }

        span {
            display: flex;
            float: right;
            height: 110px;
            align-items: center;

            @media screen and (max-width: 1070px) {
                display: none;
            }

            a.share {
                background: #d72f7a;
                padding: 6px 15px 6px 15px;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                border-radius: 5px;
                font-size: 15px;

                i {
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    &.fixed-nav{
        width: 100%;
        position: fixed;
        top: -10px;
        left: 0;
        text-align: center;
        height: 100px;
        transition: all 0.4s ease;
        box-shadow: 0px 1.5px 0px 0px rgba(13, 107, 169, 0.74);
        background: #0d6ba9;
        padding: 0;
        z-index: 9;

        @media screen and (max-width: 1070px) {
            height: auto;
        }

        .custom-container {
            ul {
                li {
                    &:nth-child(1) {
                        a {

                            @media screen and (max-width: 1070px) {
                                margin: 0 15px 0 0;
                            }

                            &:before {
                                content: url('../images/intimate-restore/logo-white.png');
                                visibility: visible;
                            }

                            img {
                                display: none;
                            }
                        }
                    }

                    a {
                        color: #fff;
                    }
                }
            }

            @media screen and (max-width: 1070px) {
                #openup {
                    background: transparent;
                    text-decoration: none;

                    &:before {
                        content: url('../images/intimate-restore/logo-white.png');
                        visibility: visible;
                        position:relative;
                        top: 8px;
                    }

                    &:after {
                        color: #fff;
                    }

                    img {
                        display: none;                    
                    }
                }
            }
        }
    }
}

#main-navWrapper {
    .sticky {
        font-size: 24px;
        line-height: 48px;
        height: 48px;
        background: #efc47D;
        text-align: left;
        padding-left: 20px;
        transition: all 0.4s ease;
    }
}

/* End of Navigation */

