<?xml version="1.0"?>
<config>
	<modules>
        <Vsourz_Deals>
            <version>0.1.0</version>
        </Vsourz_Deals>
    </modules>
	<frontend>
		<layout>
			<updates>
				<vsourz_deals>
					<file>deals.xml</file>
				</vsourz_deals>
			</updates>
		</layout>
	</frontend>
    <global>
        <blocks>
            <vsourz_deals>
                <class>Vsourz_Deals_Block</class>
            </vsourz_deals>
        </blocks>
        <models>
            <vsourz_deals>
                <class>Vsourz_Deals_Model</class>
            </vsourz_deals>
        </models>
		<helpers>
			<vsourz_deals>
                <class>Vsourz_Deals_Helper</class>
            </vsourz_deals>
		</helpers>
		<resources>
		<deals_setup>
			<setup>
				<module>Vsourz_Deals</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</deals_setup>
		</resources>
    </global>
	<default>
		<deals>
			<settings>
				<loadjs>0</loadjs>
				<loadcarousel>1</loadcarousel>
				<category>2</category>
				<productcount>4</productcount>
				<autoplay>3000</autoplay>
			</settings>
		</deals>
	</default>
</config>