<?xml version="1.0"?>
<config>
    <modules>
        <Mageplaza_Googleadwords>
            <version>0.1.0</version>
        </Mageplaza_Googleadwords>
    </modules>
    <frontend>
        <routers>
            <googleadwords>
                <use>standard</use>
                <args>
                    <module>Mageplaza_Googleadwords</module>
                    <frontName>googleadwords</frontName>
                </args>
            </googleadwords>
        </routers>
        <layout>
            <updates>
                <googleadwords>
                    <file>mageplaza/googleadwords.xml</file>
                </googleadwords>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_Googleadwords>
                    <files>
                        <default>Mageplaza_Googleadwords.csv</default>
                    </files>
                </Mageplaza_Googleadwords>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <googleadwordsadmin>
                <use>admin</use>
                <args>
                    <module>Mageplaza_Googleadwords</module>
                    <frontName>googleadwordsadmin</frontName>
                </args>
            </googleadwordsadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <googleadwords>
                    <file>googleadwords.xml</file>
                </googleadwords>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_Googleadwords>
                    <files>
                        <default>Mageplaza_Googleadwords.csv</default>
                    </files>
                </Mageplaza_Googleadwords>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <googleadwords>
                <class>Mageplaza_Googleadwords_Model</class>
            </googleadwords>
        </models>
        <resources>
            <mageplaza_googleadwords_setup>
                <setup>
                    <module>Mageplaza_Googleadwords</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageplaza_googleadwords_setup>
            <googleadwords_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googleadwords_write>
            <googleadwords_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googleadwords_read>
        </resources>
        <blocks>
            <googleadwords>
                <class>Mageplaza_Googleadwords_Block</class>
            </googleadwords>
        </blocks>
        <helpers>
            <googleadwords>
                <class>Mageplaza_Googleadwords_Helper</class>
            </googleadwords>
        </helpers>
        <!-- <events>
            <controller_action_predispatch>
                <observers>
                    <googleadwords_observers>
                        <class>googleadwords/observer</class>
                        <method>controllerActionPredispatch</method>
                    </googleadwords_observers>
                </observers>
            </controller_action_predispatch>
        </events> -->
    </global>

    <default>
        <googleadwords>
            <general>
                <enable>0</enable>
                <conversion_language>en_US</conversion_language>
                <conversion_format>3</conversion_format>
                <conversion_color>ffffff</conversion_color>
                <remarketing_only>0</remarketing_only>
            </general>
        </googleadwords>
    </default>
    
</config>