<?xml version="1.0"?>
<config>
    <modules>
        <Itfosters_Pallcurrencys>
            <version>0.1.0</version>
        </Itfosters_Pallcurrencys>
    </modules>
    <global>
        <models>
            <itfosters_pallcurrencys>
                <class>Itfosters_Pallcurrencys_Model</class>
            </itfosters_pallcurrencys>
            <paypal>
                <rewrite>
                    <cart>Itfosters_Pallcurrencys_Model_Cart</cart>
                    <standard>Itfosters_Pallcurrencys_Model_Standard</standard>
                    <config>Itfosters_Pallcurrencys_Model_Config</config>
                    <express_checkout>Itfosters_Pallcurrencys_Model_Express_Checkout</express_checkout>
                    <express>Itfosters_Pallcurrencys_Model_Express</express>
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <order_payment>Itfosters_Pallcurrencys_Model_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <pallcurrencys>
                <class>Itfosters_Pallcurrencys_Block</class>
            </pallcurrencys>
            <checkout>
                <rewrite>
                    <cart_totals>Itfosters_Pallcurrencys_Block_Checkout_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <pallcurrencys>
                <class>Itfosters_Pallcurrencys_Helper</class>
            </pallcurrencys>
        </helpers>
        <resources>
            <pallcurrencys_setup>
                <setup>
                    <module>Itfosters_Pallcurrencys</module>
                </setup>
            </pallcurrencys_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <pbfix_sales_order_observer_payment>
                        <class>Itfosters_Pallcurrencys_Model_Observer</class>
                        <method>setPaymentInfo</method>
                    </pbfix_sales_order_observer_payment>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <pallcurrencys_payment_info>
                        <class>Itfosters_Pallcurrencys_Model_Observer</class>
                        <method>getPaymentInfo</method>
                    </pallcurrencys_payment_info>
                </observers>
            </payment_info_block_prepare_specific_information>
            <adminhtml_init_system_config>
                <observers>
                    <pallcurrencys>
                        <class>Itfosters_Pallcurrencys_Model_Observer</class>
                        <method>setConfig</method>
                    </pallcurrencys>
                </observers>
            </adminhtml_init_system_config>

        </events>
    </adminhtml>
</config>